/* Header */
.header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--beige-alt);
}

.nav {
  padding: 2.6rem;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
}

.logo {
  cursor: pointer;
  color: #616161;
  font: normal normal 900 24px/30px "Maven Pro";
}

.nav-search {
  display: flex;
  margin-left: 1.4rem;
  border-bottom: 1px solid #b4a37c;
}

.nav-search input {
  outline: 0;
  border: none;
  border-radius: 0;
  color: var(--brown-alt);
  background: transparent;
  font: normal normal bold 16px/30px "Maven Pro";
}

.nav-search input::placeholder {
  color: var(--brown-alt);
}

.nav-search input:-ms-input-placeholder {
  color: var(--brown-alt);
}

.nav-search input::-webkit-input-placeholder {
  color: var(--brown-alt);
}
.nav-search button {
  outline: 0;
  border: none;
  cursor: pointer;
  border-radius: 0;
  color: var(--brown-alt);
  background: transparent;
}

.nav-search button i {
  font-size: 24px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.art-list {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #b3a176;
  justify-content: space-around;
}

.art-item {
  padding: 14px 0;
  color: #464031;
  font: normal normal 700 12px/20px 'Maven Pro',sans-serif;;
}

.nav-list .nav-item:not(:last-child) {
  margin-right: 1.8rem;
}

.nav-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: normal normal 500 16px/18px "Maven Pro";
}

.nav-button i {
  font-size: 32px;
  padding-bottom: 0.2rem;
}

.row {
  display: flex;
}

.categories-container {
  padding: 12px 5px 12px 20px;
}

.categories-title {
  color: #464031;
  padding: 18px 14px;
}

.categories-list {
  border-bottom: 1px solid #c1c1c1;
}

.categories-link {
  display: block;
  color: #444444;
  font-size: 1.4rem;
  padding: 8px 12px;
  line-height: 1.9rem;
  font-family: Arial, sans-serif;
  border-top: 1px solid #c1c1c1;
}

.slideshow-container {
  flex: 2;
  position: relative;
}

.slide-item {
  width: 100%;
  height: 100%;
  padding: 16px;
  position: absolute;
}

.slide-item .image-bg {
  box-shadow: 0 0 1.8rem 0 rgb(0 0 0 / 36%);
  background-image: url(../assets/images/slide1.png);
}

.image-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}